html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    font-family: Helvetica, Arial, sans-serif;
}

.master {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main {
    flex: 1 0 auto;
}

.mindtree {
	list-style: none;
	padding: 0 0 0 150px;
}

.mindtree__type {
    position: relative;
    display: flex;
}

.mindtree__title {
    position: relative;
    margin: 0 0 30px;
}

.mindtree__link {
    color: #000000;
    text-decoration: none;
    border-bottom: 1px dotted;
}

.mindtree__link:hover {
	color: purple;
    transition: color 200ms ease-in-out;
}

.mindtree__content.is-show {
	display: block;
	
}


.mindtree__content {
    display: none;
    position: fixed;
    /* left: 38%; */
    top: 0;
    width: auto;
    padding: 20px;
    border: 1px solid;
    border-radius: 12px;
    background: #fff;
    z-index: 10;
    right: 5%;
    overflow-y: scroll;
    margin-left: 500px;
    height: 100%;
    box-sizing: border-box;
}

.mindtree__type::before {
	content: '';
	top: 10px;
	border-width: .2em 0 0 .2em;
	border-color: #000;
	border-style: solid;
	width: 100px;
	height: 68px;
	border-radius: 1em 0 0 0;
	position: absolute;
	left: -110px;
}


.logo {
    padding: 20px;
}

.logo__link {
    text-decoration: none;
    color: #000;
    font-size: 36px;
    transition: opacity 250ms ease;
}

.logo__link:hover {
    opacity: 0.65;
}

.footer__content {
    padding: 20px;
}
